# .github/workflows/validate.yml
name: Validate

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * *"
  push:
    branches:
      - main
      - bugfix/*
      - feature/*
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: plugin